mypy==1.19.1
Django===6.0.1
strawberry-graphql-django==0.74.1
mysqlclient==2.2.7
python-dotenv==1.2.1
gunicorn==22.0.0
pylint==4.0.4
pylint-django==2.7.0
black==26.1.0
stringcase==1.2.0
django-stubs==5.2.9
whitenoise==6.11.0
django-cors-headers==4.9.0